body, html {
    height: 100%;
    margin: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.wrap {
  margin: 0;
  width: 100%;
}

.main-nav {
  margin-top: 20px;
}

.map-wrap {
  padding-top: 40px;
}

.categories-list {
  width: 320px;
  height: 480px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 10;
}

.categories-list > ul {
  list-style: none;
  padding: 0;
}

.category-item {
  padding: 10px 20px;
}

.category-item a > i {
  width: 20px;
}

.category-name {
  margin-left: 5px;
}

.category-item a {
  color: #222;
  text-decoration: none;
}

.category-item a:hover {
  color: #222;
  text-decoration: none;
}

.map-overlay-control.ng-hide-remove {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}


.map-overlay-control.ng-hide-add-active {
  display:block !important;
}


.map-overlay-control.ng-hide-add {
  -webkit-animation-name: slideOutLeft;
  animation-name: slideOutLeft;
}

#map {
  height: 480px;
  width: 100%;
}
